#intro h1 {
    font-size: calc(2rem + 1.5vw);
}

#intro {
    width: 90%;
}

.swiper [class^=swiper-button] {
    display: none;
}

.custom_contain {
    width: 85%;
    margin: auto;
}

.custom_contain iframe {
    width: 100%;
    aspect-ratio: 1/1;
}
.card {
        
        aspect-ratio: 1/0.5;
margin:auto;
}