#intro {
    text-align: center;
}

#intro h1 {
    font-size: calc(2rem + 1.5vw);
}

.custom_contain {
    height: 80vh;

    & iframe {
        width: 100%;
        aspect-ratio: 1;
    }

}

.my_card {
    width: 100%;
    aspect-ratio: 1/0.5;
    margin: auto;
}
