#intro h1 {
    font-size: calc(2rem + 1.5vw);
}

#intro {
    width: 90%;
}

.swiper [class^=swiper-button] {
    display: none;
}

.custom_contain {
    width: 85%;
    height: 90%;
    margin: auto;

    & iframe {
        width: 100%;
        aspect-ratio: 1/1.3;
    }

}

.my_card {
    width: 50%;
    aspect-ratio: 1;
    margin: auto;
}
