* {
	margin: 0px;
	padding: 0px;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #000021;
	font-family: 'Aladin', cursive;
}
h5{
	color:#a64cff;
}
p{
	font-size: 20px;
}
/* header */
.nav {
	justify-content: space-around;
	color: white;
	background-color: black;
	padding: 10px;
}

.nav ul {
	display: flex;
}

.topLeft:first-letter {
	color: red;
}



.nav ul li {
	list-style: none;
	margin: 0 20px;
	font-size: 20px;
}

.nav ul li a {
	color: white;
	text-decoration: none;
}

.nav ul li a:hover {
	color: #265cff;
	border-bottom: 2px solid red;
	transition-duration: 0.5s;
}

/* ---------------------------------------------------------------------- */

/* main */

/* first section */
.firstsec {
	margin: 50px 100px;
}

.intro {
	display: grid;
	grid-template-columns: 55% 40%;
	margin-bottom: 0px;
}

.leftsec {
	color: white;
	font-size: 30px;
	margin-top: 30px;
	height: 45vh;
}

.leftsec:first-letter {
	font-size: 55px;
}

.rightsec img {
	height: 60%;
	width: 45%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rightsec img:hover {
	transform: rotate3d(1, 1, 1, 360deg);
	transition-duration: 2s;
}

#name {
	color: #a64cff;
}

#element {
	color: #a64cff;
}

h4 {
	color: white;
}
.expert {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.card {
	height: 200px;
	width: 200px;
	background-color: #262626;
	padding: 10px;

}
.card h5,p{
	color:white;
}
.card img{
	    height: 50px;
    width: 50px;
    margin: 0 auto;
     filter: invert(100%);
}
.card:hover {
	transform: translateY(-30px);
	transition-duration: 0.5s;
	box-shadow: 2px 2px black;
	background-color: #e31e44;
}

main hr {
	border: 0;
	background: white;
	height: 0.1px;
	margin-top: 0%;
}
#thr{
	margin-top: -10%;
}
/* ---------------------------------------------------------------------- */

/* second section */
.secondsec {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 30%;
	max-width: 80%;
	margin: 10px auto;
	color: white;
	height: 100vh;
}

.secondsec .box {
	background-color: white;
	width: 50vw;
	height: 2px;
	margin: 15px 0px;
	display: flex;
}

.secondsec .vertical {
	height: 60px;
	width: 1px;
	background-color: white;
	margin: 0px auto;
}

.title {
	position: relative;
	top: 5px;
	left: -30px;
	font-size: 20px;
}

.contents {
	position: relative;
	top: 5px;
	left: -30px;
	width: 250px;
	font-size: 15px;
	color: #99e6ff;
}

#image {
	height: 50px;
	width: 50px;
	position: relative;
	top: -50px;
	left: -27px;
}

.skill {
	display: flex;
	flex-direction: row;
}

.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 60px;
	width: 60px;
	border: 0.5px solid white;
	margin: 0 15px;
	font-size: 15px;
}

.skills:hover {
	transform: scale(2.5,1.5);
	transition-duration: 1s;
	background-color: #e31e44;
}

/* thired section */
.thiredsec {
	max-width: 80%;
	margin: 0% auto;
	color: white;
	height: 100vh;
}

hr {
	border: 0;
	background: white;
	height: 0.1px;
	margin: 20px 80px;
}
.contactdetail{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 30%;
	max-width: 80%;
	color: white;
}
#contact {
	width: 50%;
	height: 50vh;
	font-size: 32px;
	margin-top: 10px;
	color: skyblue;
}
#contact p{
	color: lightskyblue;
}
#contact svg{
	color: red;
}
.contactform{
	margin-top: 5%;
}
.contactform input, textarea{
	width: 100%;
	padding: 5px;
	margin-top: 10px;
	    background-color: transparent;
	    border: 1px solid red;
}

#btn{
	width: 100%;
	border-radius: 10px;
	border: 1px solid lightseagreen;
	transition-duration: 0.5s;
}
#btn:hover{
	background: lightseagreen;
	cursor: pointer;
}
#contact p {
	margin: 20px 0;
}
#social{
	width:50%;
	margin: auto;
}
#social a {
	margin: 0 10px;
}

#social a:hover {
	color: #a64cff;
}
