* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

:root {
	--back: #000021;
}

body {
	background-color: var(--back);
	font-family: 'Croissant One', cursive;
}

/*navbar*/
#nav {
	width: 100%;
	height: 7vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 20;
}

#nav::before {
	content: "";
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.9;
}

#nav h2 {
	color: white;
	height: 60px;
	background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

#nav h2:first-letter {
	font-size: 40px;
}

#nav ul {
	display: flex;
	list-style: none;
}

#nav ul li a {
	margin-left: 20px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	transition-property: all;
	transition-duration: 0.3s;
}

#nav ul li a:hover {
	border-bottom: 1px solid white;
	color: #a64cff;
}

fieldset {
	border-bottom: none;
	border-left: none;
	border-right: none;
}

legend {
	color: #8eff0c;
	margin-left: 15%;
	font-size: x-large;
	text-shadow: -2px -2px 1px blue;
}

/*home section*/
#home {
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
}

#homegrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

#homeleft {
	height: 60vh;
	box-sizing: border-box;
}

#intro {
	width: 80%;
	margin: 13% 15%;
	height: 50%;
	padding: 5px;
	border-radius: 15px;
}

#intro p {
	color: white;
	font-size: 1.3rem;
}

#intro h1 {
	color: #a64cff;
	font-size: 3rem;
	text-shadow: 1px 1px 2px blue;
}

#element {
	color: skyblue;
}

#homeright {
	height: 60vh;
	box-sizing: border-box;
}

#homeright img {
	height: 50%;
	width: 50%;
	margin: 13% 25%;
	box-shadow: 0px 0px 10px 0px #353546;
	border-radius: 15px;
	transition-duration: 1s;
}

#homeright img:hover {
	transform: rotate3d(1, 1, 1, 360deg);
}

#homecards {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30%;
	width: 100%;
	margin: auto;
	position: relative;
}

#home h5 {
	color: #68b312;
	text-align: center;
	position: relative;
	top: -18%;
	font-size: xx-large;
	text-shadow: -2px -2px 1px blue;
}

.cards {
	height: 60px;
	width: 60px;
	background: radial-gradient(circle, rgba(34, 193, 195, 1) 17%, rgba(65, 124, 167, 1) 88%);
	margin: 60px 15px;
	transition-duration: 1s;
	box-sizing: border-box;
	transition-property: all;
	transition-duration: 0.5s;
	padding: 5px;
	border-radius: 10px;
}

.cards img {
	height: 65%;
	width: 70%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.cards h4 {
	font-size: 10%;
	text-align: center;
}

.cards:hover {
	transform: scale3d(3.0, 3.0, 1.0);
	background: linear-gradient(180deg, rgba(195, 34, 86, 1) 17%, rgba(218, 44, 194, 1) 98%);
	cursor: grab;
}

/*about section*/
#about {
	height: 100vh;
	width: 100%;
}

#aboutgrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

#aboutleft {
	height: 60vh;
}

.container {
	position: relative;
	height: 50vh;
	margin-top: 3%;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: #410e83;
	color: black;
}

.mySlides {
	width: 60%;
	height: 45vh;
	margin: auto;
	transition-duration: 1s;
}

#about img {
	width: 90%;
	height: 90%;
	border-radius: 30px;
}

.mySlides {
	animation: fade 1s linear 1;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

.mySlides p {
	color: white;
	font-size: 15px;
}

#aboutright {
	height: 60vh;
}

#education .box {
	background-color: #8200ff;
	width: 0.1vw;
	height: 45vh;
	margin: 0px 5%;
	display: flex;
	flex-direction: column;
	border-radius: 50%;
}

#education .vertical {
	height: 3px;
	width: 3vw;
	background-color: #4f0768;
	margin: 40px 0;
	border: 2px;
	border-radius: 50%;
}

.title {
	position: relative;
	top: -10px;
	left: 45px;
	font-size: 25px;
	color: white;
	width: 30vw;
}

.contents {
	position: relative;
	top: -10px;
	left: 90px;
	width: 250px;
	font-size: 12px;
	color: #99e6ff;
}

#skills {
	position: relative;
	width: 70px;
	height: 70px;
	background: linear-gradient(180deg, rgba(195, 34, 86, 1) 17%, rgba(218, 44, 194, 1) 98%);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s;
	transition-delay: .8s;
	margin: 1% auto;
}

#skills.active {
	width: 350px;
	height: 200px;
	transition-delay: 0s;
}

#skills span {
	position: absolute;
	width: 15px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30%;
	transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
	transition: transform .5s, width .5s, height .5s, background .5s;
	transition-delay: calc(.1s * var(--i));
}

#skills span img {
	width: 10px;
	height: 10px;
}

#skills.active span {
	width: 65px;
	height: 65px;
	background: transparent;
	transform: translate(calc(90px * var(--x)), calc(70px * var(--y)));
}

#skills.active span img {
	width: 35px;
	height: 35px;
	transition-duration: 0.3s;
	filter: invert(100%);
}

#skills.active span:hover img {
	color: #2dfc52;
	transform: scale3d(1.5, 1.5, 1.0);
	filter: invert(0%);
}

/*work section*/
#work {
	height: 100vh;
	width: 100%;
}

#workgrid {
	width: 80%;
	height: 100vh;
	margin: 3% auto;
	justify-content: center;
}

.workflex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.workcards {
	height: 100%;
	width: 40%;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: 10px;
	transition-duration: 0.5s;
}

.workcards img {
	width: 100%;
	height: 100%;
	transition-duration: 0.5s;
}

.workpara {
	position: absolute;
	width: 100%;
	height: 0%;
	top: 0;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.6), #a64cff);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 0.5s;
}

.workcards:hover .workpara {
	height: 100%;
}

.workcards:hover img {
	transform: scale3d(1.2, 1.2, 1);
}

.workpara p {
	color: white;
	font-size: 20px;
	padding: 30px;
}

.workcards svg {
	color: blue;
	height: 40px;
	width: 40px;
}

/*contact section*/
#contact {
	height: 100vh;
	width: 100%;
	background-image: url(work.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#contactgrid {
	display: grid;
	grid-template-columns: 40% 60%;
}

#contactleft {
	height: 90vh;
}

#addressline {
	width: 75%;
	height: 30vh;
	box-sizing: border-box;
	margin: 27% auto;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 1px 15px 0px black;
	padding: 20px;
	color: white;
	font-size: 17px;
	backdrop-filter: blur(25px);
}

.cblocks img {
	height: 30px;
	width: 30px;
}

#contactright {
	height: 90vh;
}

.contactform {
	width: 50%;
	margin: 15% auto;
}

#myform {
	background-color: transparent;
	backdrop-filter: blur(25px);
	box-shadow: 0px 1px 15px 0px black;
}

.contactform input,
textarea {
	width: 97%;
	padding: 5px;
	font-size: 20px;
	background-color: transparent;
	font-weight: bold;
	color: black;
	outline: none;
	border: none;
	font-family: 'Croissant One', cursive;
}

textarea {
	resize: none;
}

.contactform input {
	border-bottom: 1px solid white;
}

::placeholder {
	color: white;
}

.contactform textarea:focus {
	background-color: white;
}

.contactform input:focus {
	background-color: white;
}

#btn {
	width: 25%;
	border-radius: 5px;
	height: 35px;
	margin-top: 1%;
	transition-duration: 0.5s;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(15px);
	font-family: 'Croissant One', cursive;
}

#btn:hover {
	cursor: pointer;
	background-color: transparent;
	color: white;
}

#btn:active {
	background-color: black;
	color: white;
}

#social {
	background-color: black;
	height: 12vh;
}

#social ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

#social ul li {
	text-decoration: none;
	list-style: none;
}

#social ul li a img {
	height: 35px;
	width: 35px;
	filter: invert(100%);
	margin: 20px;
}
