* {
	margin: 0;
	padding: 0;
}

body {
	font-family: emoji;
}

h2 {
	font-family: "Anta", sans-serif;
	font-weight: 100;
}

/*swiper---------------------------------------------*/
.swiper {
	width: 100vw;
	height: 100vh;
}

.swiper [class^=swiper-button] {
	transform: rotate(90deg);
	top: initial;
	left: initial;
	right: 10px;
	margin: 0;
}

.swiper .swiper-button-prev {
	top: 0;
	right: 2rem;
	padding: 5px;

	&:hover {
		background: #aad4e5;
	}

}

.swiper .swiper-button-next {
	bottom: 0;
	right: 2rem;
	padding: 5px;

	&:hover {
		background: #aad4e5;
	}

}

/*intro---------------------------------*/
#intro h1 {
	font-size: 4.5rem;
	font-family: "Protest Riot", sans-serif;
}

#intro p {
	font-family: "Dancing Script", cursive;
	font-size: 1.3rem;
}

#intro button {
	font-family: "Dancing Script", cursive;
}

.link {
	color: black;
}

.btn:hover {
	.link {
		color: white;
	}

}

/* my cards--------------------------*/
.my_card {
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 5px 0px #8080805c;
	border-radius: 10px;
	box-sizing: border-box;

	& img {
		width: 4rem;
		aspect-ratio: 1;
		margin-bottom: 5px;
	}

	& p {
		text-align: center;
	}

	& h6 {
		color: #1096ad;
	}

}

/*progress---------------------------------------------*/
.my_prog {
	box-shadow: 0px 0px 5px 0px #8080805c;
}

.my_prog>p {
	font-family: "Kode Mono", monospace;
}

.my_prog img {
	height: 2rem;
	width: 2rem;
	margin: 5px;
}

/*iframe--------------------------------------*/
.container iframe {
	width: 100%;
	aspect-ratio: 1/0.4;
	border: 1px solid;
}

/*codepen block---------------------------*/
.codepen_info h4 {
	font-family: "Protest Riot", sans-serif;
}

.codepen_info p {
	font-size: 1.3rem;
}

/*footer------------------------------*/
#footer ul li>a {
	margin-left: 10px;
	text-decoration: none;
	color: black;

	&:hover {
		cursor: pointer;
		color: #087efbed;
	}

}

#footer h1 {
	font-family: "Protest Riot", sans-serif;
}

#footer p {
	font-family: "Dancing Script", cursive;
	font-size: 1.3rem;
}
